@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
body {
    overflow-x: hidden;
}

p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: rgba(0, 0, 0, 0);
}

@font-face {
    font-family: Pacifico, cursive;
    src: url(../Perancangan_Web/Font/Pacifico-Regular.ttf);
    src: url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
}

.font {
    font-family: Pacifico, cursive;
    src: url(../Perancangan_Web/Font/Pacifico-Regular.ttf);
    src: url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
}

body h1 {
    text-align: center;
    font-size: 60px;
    color: #162E44;
}

nav {
    padding: 20px 0;
    background-color: #162E44;
}

.navbar {
    margin-left: 20px;
    margin-right: 20px;
}

.title {
    font-size: 20px;
    font-family: Pacifico, cursive;
    src: url(../Perancangan_Web/Font/Pacifico-Regular.ttf);
    src: url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
    display: inline-block;
}

.menu {
    color: white;
    font-size: 19px;
    display: inline-block;
    margin-left: 40px;
    font-family: 'Segoe UI';
}

.profile-logo {
    float: right;
}

.bottom {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 756px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-image: url("img/landingpage-bg.png");
    background-size: cover;
}

.capt {
    border: 0px solid;
    color: white;
    font-size: 75px;
    margin-left: 75px;
    margin-bottom: 75px;
    margin-top: 19px;
    font-family: Pacifico, cursive;
    src: url(../Perancangan_Web/Font/Pacifico-Regular.ttf);
}

.slogan {
    border: 0px solid;
    color: white;
    font-size: 38px;
    margin-left: 75px;
}

.berita {
    margin-left: 59px;
}

.box1-berita {
    height: 756px;
    width: 740px;
    display: inline-block;
    margin-left: 19px;
}

.box1-berita a h2 {
    font-size: 35px;
    color: #162E44;
}

.box1-berita p {
    font-size: 23px;
    font-family: 'Segoe UI';
    color: #162E44;
}

.box1-berita form button {
    font-size: 17px;
    font-family: 'Segoe UI';
    color: #162E44;
}

.box2-berita {
    height: 756px;
    width: 605px;
    display: inline-block;
}

.gambar1 {
    height: 382px;
    width: 687px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-image: url("img/gambar1.jpg");
    background-size: cover;
}

.button {
    border: 2px solid#162E44;
    height: 54px;
    width: 196px;
    background-color: white;
    border-radius: 21px;
}

.button strong {
    font-size: 17px;
    font-family: 'Segoe UI';
    color: #162E44;
}

.sub-box {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 151px;
    display: flex;
}

.gambar2 {
    width: 234px;
    height: 129px;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url("img/gambar2.jpg");
    background-size: cover;
}

.gambar3 {
    width: 234px;
    height: 129px;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url("img/gambar3.jpg");
    background-size: cover;
}

.gambar4 {
    width: 234px;
    height: 129px;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url("img/gambar4.jpg");
    background-size: cover;
}

.gambar5 {
    width: 234px;
    height: 129px;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url("img/gambar5.jpg");
    background-size: cover;
}

.jawa {
    display: inline-block;
    color: #162E44;
    font-family: 'Segoe UI';
    font-size: 23px;
    height: 38px;
    width: 38px;
}

.sumatra {
    display: inline-block;
    color: #162E44;
    font-family: 'Segoe UI';
    font-size: 23px;
    margin-left: 75px;
    height: 38px;
    width: 38px;
}

.bali {
    display: inline-block;
    color: #162E44;
    font-family: 'Segoe UI';
    font-size: 23px;
    margin-left: 113px;
    height: 38px;
    width: 38px;
}

.left {
    display: inline-block;
    height: 49px;
    width: 49px;
    margin-left: 831px;
    background-image: url("img/scroll-left.png");
    background-size: cover;
}

.right {
    display: inline-block;
    height: 49px;
    width: 49px;
    margin-left: 18px;
    background-image: url("img/scroll-right.png");
    background-size: cover;
}

.goal {
    border: 1px solid rgba(0, 0, 0, 0);
    margin-left: 80px;
}

.dest1 {
    height: 387px;
    width: 300px;
    display: inline-block;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
    background-image: url("img/dest1.webp");
    background-size: cover;
    background-position: center;
}

.dest2 {
    height: 387px;
    width: 300px;
    display: inline-block;
    margin-left: 38px;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
    background-image: url("img/dest2.jpeg");
    background-size: cover;
}

.dest3 {
    height: 387px;
    width: 300px;
    display: inline-block;
    margin-left: 38px;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
    background-image: url("img/dest3.jpg");
    background-size: cover;
    background-position: center;
}

.dest4 {
    height: 387px;
    width: 300px;
    display: inline-block;
    margin-left: 38px;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
    background-image: url("img/dest4.jpg");
    background-size: cover;
}

.text-dest {
    background-color: rgb(22, 46, 68, 0.5);
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0);
    font-family: 'Segoe UI';
    height: 65px;
    width: 300px;
    border-radius: 43px;
    margin-top: 270px;
    padding: 25px 0;
}

.text-dest h2 {
    color: white;
    margin-left: 25px;
    display: inline-block;
}

.text-dest .sub1 {
    display: inline-block;
    position: absolute;
    right: 19px;
}

.text-dest .sub1 p {
    display: inline-block;
    font-size: 15px;
    color: white;
    font-family: 'Segoe UI';
}

.text-dest .sub2 {
    text-align: left;
}

.text-dest .sub2 p {
    color: white;
    text-align: left;
    display: inline-block;
    font-family: 'Segoe UI';
}

.star {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 11px;
    width: 11px;
    display: inline-block;
    background-image: url("img/icon-star.png");
    background-size: cover;
}

.keluarga {
    display: inline-block;
    font-size: 23px;
    font-family: 'Segoe UI';
    color: #162E44;
}

.pasangan {
    display: inline-block;
    margin-left: 38px;
    font-size: 23px;
    font-family: 'Segoe UI';
    color: #162E44;
}

.team {
    display: inline-block;
    margin-left: 38px;
    font-size: 23px;
    font-family: 'Segoe UI';
    color: #162E44;
}

.dest5 {
    height: 387px;
    width: 300px;
    display: inline-block;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
    background-image: url('img/dest5.jpg');
    background-size: cover;
}

.dest6 {
    height: 387px;
    width: 300px;
    display: inline-block;
    margin-left: 38px;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
    background-image: url('img/dest6.jpg');
    background-size: cover;
}

.dest7 {
    height: 387px;
    width: 300px;
    display: inline-block;
    margin-left: 38px;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
    background-image: url('img/dest7.jpg');
    background-size: cover;
}

.a {
    height: 491px;
    display: inline-block;
    margin-right: 75px;
}

.b {
    height: 491px;
    display: inline-block;
    margin-left: 38px;
}

.kiri {
    height: 38px;
    width: 38px;
    margin-top: 264px;
    position: absolute;
    background-image: url("img/scroll-left.png");
    background-size: cover;
}

.kanan {
    height: 38px;
    width: 38px;
    margin-top: 264px;
    position: absolute;
    background-image: url("img/scroll-right.png");
    background-size: cover;
}

.loc {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 18px;
    width: 18px;
    display: inline-block;
    background-image: url(../Perancangan_Web/bgimage/pixlr-bg-result.png);
    background-size: cover;
}

.dest8 {
    border-top-right-radius: 55px;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    display: inline-block;
    height: 454px;
    width: 559px;
    background-image: url('img/dest8.jpg');
    background-size: cover;
}

.dest9 {
    border-top-right-radius: 55px;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    display: inline-block;
    height: 454px;
    width: 559px;
    margin-left: 75px;
    background-image: url('img/dest9.jpg');
    background-size: cover;
}

.dest10 {
    border-top-right-radius: 55px;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    display: inline-block;
    height: 454px;
    width: 559px;
    background-image: url('img/dest10.jpg');
    background-size: cover;
}

.dest11 {
    border-top-right-radius: 55px;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    display: inline-block;
    height: 454px;
    width: 559px;
    margin-left: 75px;
    background-image: url('img/dest11.jpg');
    background-size: cover;
}

.galeri {
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(22, 46, 68, 0.5);
    height: 166px;
    width: 559px;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    margin-top: 287px;
}

.galeri div {
    margin-left: 38px;
}

.galeri div div table {
    margin-top: 15px;
}

.galeri div div table tr td p {
    color: white;
    font-size: 21px;
    font-family: 'Segoe UI';
    display: inline-block;
    margin-left: 10px;
}

.galeri div p {
    color: white;
    font-size: 22px;
    margin-top: 5px;
    font-family: 'Segoe UI';
}

.pp1 {
    border: 2px solid rgb(255, 255, 255);
    height: 39px;
    width: 39px;
    border-radius: 50%;
    background-image: url('img/pp1.jpg');
    background-size: cover;
    display: inline-block;
}

.pp2 {
    border: 2px solid rgb(255, 255, 255);
    height: 39px;
    width: 39px;
    border-radius: 50%;
    background-image: url('img/pp2.jpg');
    background-size: cover;
    display: inline-block;
}

.pp3 {
    border: 2px solid rgb(255, 255, 255);
    height: 39px;
    width: 39px;
    border-radius: 50%;
    background-image: url('img/pp3.png');
    background-size: cover;
    display: inline-block;
}

.pp4 {
    border: 2px solid rgb(255, 255, 255);
    height: 39px;
    width: 39px;
    border-radius: 50%;
    background-image: url('img/pp4.jpg');
    background-size: cover;
    display: inline-block;
}

.like {
    width: 80px;
    height: 37px;
    display: inline-block;
    border-radius: 50px;
    position: absolute;
    margin-left: 445px;
    margin-top: 270px;
    background-color: #162E44;
}

.like p {
    color: white;
    display: inline-block;
    font-size: 21px;
    margin-top: 3px;
    font-family: 'Segoe UI';
}

.love {
    border: 1px solid rgba(0, 0, 0, 0);
    display: inline-block;
    height: 11px;
    width: 11px;
    background-image: url(../Perancangan_Web/bgimage/heart-304085_960_720.png);
    background-size: cover;
    border-radius: 50%;
}

footer {
    height: 450px;
    border-top-right-radius: 68px;
    border-top-left-radius: 68px;
    background-color: #162E44;
}

.box {
    display: inline-block;
    width: 321px;
    height: 415px;
    margin-left: 50px;
}

.text_footer {
    position: absolute;
    color: white;
    font-family: 'Segoe UI';
    font-size: 25px;
}

.kal {
    margin-left: 29px;
    font-family: 'Segoe UI';
    font-size: 21px;
    color: #162E44;
}

.jam {
    margin-left: 29px;
    font-size: 18px;
    font-family: 'Segoe UI';
    color: #162E44;
}

.rekom {
    margin-left: 80px;
    color: #162E44;
}

.rekom h1 {
    font-size: 60px;
}

.state {
    display: inline-block;
}

.sign {
    display: inline-block;
}

.pen h1 {
    font-size: 60px;
    color: #162E44;
}

.glr {
    margin-left: 80px;
}

.glr h1 {
    font-size: 60px;
    color: #162E44;
}

.navs {
    display: none;
    position: absolute;
    right: 20px;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    height: 30px;
    justify-content: space-between;
}

.menu-toggle input {
    position: absolute;
    height: 35px;
    width: 35px;
    opacity: 0;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    transition: all 0.5s;
}

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(2px, -1px);
}

.menu-toggle input:checked~span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(3px, 0);
}

@media (max-width: 720px) {
    .navbar strong {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        position: absolute;
        right: 0;
        top: 50px;
        background-color: #162E44;
        justify-content: space-evenly;
        height: 60vh;
        width: 80%;
        align-items: center;
        z-index: 3;
        transform: translateX(100%);
        transition: all 0.5s;
        opacity: 0;
    }
    .navbar strong.slide {
        transform: translateX(0);
        opacity: 1;
    }
    .menu {
        margin-left: 0;
    }
    .title {
        display: inline-block;
    }
    .navs {
        display: inline-block;
        position: absolute;
    }
    .bottom {
        height: 650px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .capt {
        font-size: 50px;
        left: -60px;
        position: absolute;
        z-index: 1;
    }
    .slogan {
        position: absolute;
        font-size: 22px;
        text-align: right;
        top: 340px;
        right: 10px;
        z-index: 1;
    }
    body h1 {
        font-size: 30px;
        text-align: center;
    }
    .gambar1 {
        height: 220px;
        width: 105%;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
    }
    .box1-berita {
        margin-left: -40px;
        width: 100%;
    }
    .box1-berita a h2 {
        font-size: 28px;
    }
    .box1-berita p {
        font-size: 18px;
        text-align: justify;
    }
    .box1-berita form button {
        font-size: 12px;
    }
    .button {
        height: 34px;
        width: 106px;
        border-radius: 10px;
    }
    .box2-berita {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: -40px;
        margin-top: -140px;
    }
    .sub-box div {
        width: 154px;
        height: 110px;
    }
    .kal {
        font-size: 15px;
    }
    .jam {
        font-size: 10px;
    }
    .rekom {
        width: 100%;
        margin-left: 0px;
    }
    .rekom h1 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 40px;
        margin-top: -120px;
    }
    .state p {
        font-size: 15px;
    }
    .jawa {
        margin-left: 20px;
    }
    .sumatra {
        margin-left: 10px;
    }
    .bali {
        margin-left: 30px;
    }
    .sign {
        display: none;
    }
    .sign p {
        width: 30px;
        height: 30px;
    }
    .left {
        margin-left: 70px;
    }
    .goal {
        margin-left: 10%;
        justify-content: space-between;
    }
    .dest2 {
        margin-left: 0;
        margin-top: 50px;
    }
    .dest3 {
        margin-left: 0;
        margin-top: 50px;
    }
    .dest4 {
        margin-left: 0;
        margin-top: 50px;
    }
    .button strong {
        font-size: 12px;
    }
    .a {
        display: none;
    }
    .b {
        display: none;
    }
    .pen h1 {
        font-size: 30px;
        margin-top: 0px;
    }
    .state1 p {
        font-size: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .dest5 {
        margin-left: -30px;
    }
    .dest6 {
        margin-left: -30px;
        margin-top: 50px;
    }
    .dest7 {
        margin-left: -30px;
        margin-top: 50px;
        margin-bottom: -40px;
    }
    .glr {
        margin-left: 0;
    }
    .glr h1 {
        font-size: 30px;
    }
    .dest8 {
        border-top-right-radius: 35px;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
        margin-left: -10px;
        height: 244px;
        width: 319px;
        z-index: 1;
    }
    .dest9 {
        border-top-right-radius: 35px;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
        margin-left: -10px;
        margin-top: 35px;
        height: 244px;
        width: 319px;
        z-index: 1;
    }
    .dest10 {
        border-top-right-radius: 35px;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
        margin-left: -10px;
        height: 244px;
        width: 319px;
        z-index: 1;
    }
    .dest11 {
        border-top-right-radius: 35px;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
        margin-left: -10px;
        margin-top: 35px;
        margin-bottom: -40px;
        height: 244px;
        width: 319px;
        z-index: 1;
    }
    .like {
        width: 65px;
        height: 32px;
        border-radius: 50px;
        margin-left: 235px;
        margin-top: 138px;
        z-index: 3;
    }
    .like p {
        font-size: 18px;
        margin-top: 5px;
        margin-left: -5px;
    }
    .galeri {
        border: 1px solid rgba(0, 0, 0, 0);
        background-color: rgba(22, 46, 68, 0.5);
        height: 90px;
        width: 319px;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
        z-index: 2;
        margin-top: 153px;
    }
    .galeri div {
        margin-left: 15px;
    }
    .galeri div div table {
        margin-top: 0px;
    }
    .galeri div div table tr td p {
        font-size: 15px;
        margin-left: 10px;
    }
    .galeri div p {
        font-size: 13px;
        margin-left: 6px;
        margin-top: 3px;
    }
    .pp1 {
        height: 27px;
        width: 27px;
    }
    .pp2 {
        height: 27px;
        width: 27px;
    }
    .pp3 {
        height: 27px;
        width: 27px;
    }
    .pp4 {
        height: 27px;
        width: 27px;
    }
    footer {
        width: 100%;
        height: 1675px;
        align-items: center;
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
        margin-bottom: 0;
    }
    .box {
        margin-left: 20%;
    }
    .text_footer p {
        text-align: center;
    }
}

@media (min-width: 720px) and (max-width: 996px) {
    .navbar strong {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        position: absolute;
        right: 0;
        top: 50px;
        background-color: #162E44;
        justify-content: space-evenly;
        height: 60vh;
        width: 80%;
        align-items: center;
        z-index: 3;
        transform: translateX(100%);
        transition: all 0.5s;
        opacity: 0;
    }
    .navbar strong.slide {
        transform: translateX(0);
        opacity: 1;
    }
    .menu {
        margin-left: 0;
    }
    .title {
        display: inline-block;
    }
    .navs {
        display: inline-block;
        position: absolute;
    }
    .bottom {
        height: 650px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .gambar1 {
        width: 85%;
    }
    .sign {
        display: none;
    }
    .a {
        display: none;
    }
    .b {
        display: none;
    }
    .state {
        margin-top: 70px;
    }
    .dest3 {
        margin-top: 40px;
        margin-left: 0px;
    }
    .rekom h1 {
        text-align: center;
        justify-content: center;
        margin: 0;
    }
    .state1 {
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .dest5 {
        margin-left: -10%;
    }
    .dest7 {
        margin-top: 40px;
        margin-left: -10%;
    }
    .dest8 {
        margin-left: 5%;
    }
    .dest9 {
        margin-left: 5%;
        margin-top: 35px;
    }
    .dest10 {
        margin-left: 5%;
    }
    .dest11 {
        margin-left: 5%;
        margin-top: 35px;
    }
    .glr h1 {
        margin-left: -10%;
    }
    footer {
        width: 100%;
        height: 50%;
        border-top-left-radius: 55px;
        border-top-right-radius: 55px;
    }
    footer div {
        margin-left: 2%;
    }
    #div button {
        margin-left: -10%;
    }
    .box2-berita {
        margin-left: 3%;
    }
}