@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: rgba(0, 0, 0, 0);
}

@font-face {
    font-family: Pacifico, cursive;
    src: url(../Perancangan_Web/Font/Pacifico-Regular.ttf);
    src: url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
}

.font {
    font-family: Pacifico, cursive;
    src: url(../Perancangan_Web/Font/Pacifico-Regular.ttf);
    src: url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
}

.upper {
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgb(0, 81, 255);
}

.title {
    font-size: 0.5cm;
    font-family: Pacifico, cursive;
    src: url(../Perancangan_Web/Font/Pacifico-Regular.ttf);
    src: url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
    display: inline-block;
}

.menu {
    color: white;
    font-size: 0.5cm;
    display: inline-block;
    margin-left: 3cm;
}

.profil {
    border: 1px solid rgb(255, 255, 255);
    height: 1cm;
    width: 1cm;
    border-radius: 50%;
    background-image: url(https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png);
    background-size: cover;
    float: right;
}

.bottom {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 20cm;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: darkcyan;
    background-image: url();
    background-size: cover;
}

.box-bottom {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 8cm;
    width: 8cm;
    border-radius: 20px;
    position: absolute;
    display: inline-block;
    margin-left: 10cm;
    margin-top: 3cm;
    background-color: rgba(0, 0, 0, 0.5);
}

.exp {
    border: 1px solid rgba(0, 0, 0, 0);
    width: 8cm;
    border-radius: 20px;
    background-color: midnightblue;
}

.ling {
    border: 1px solid rgba(0, 0, 0, 0);
    width: 2cm;
    height: 2cm;
    border-radius: 50%;
    background-color: midnightblue;
    position: absolute;
    top: 4.5cm;
    left: 3cm;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTXEWY8P0I5KPnh4Vktv2Qpi1jzpEuwjc976w&usqp=CAU);
    background-size: cover;
}

.capt {
    border: 0px solid;
    color: white;
    font-size: 1.5cm;
    margin-left: 2cm;
    margin-bottom: 2cm;
    margin-top: 0.5cm;
}

.slogan {
    border: 0px solid;
    color: white;
    font-size: 1cm;
    margin-left: 2cm;
}

.goal {
    border: 1px solid rgba(0, 0, 0, 0);
    margin-left: 0.5cm;
}

.dest1 {
    border: 1px solid black;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: inline-block;
    height: 11cm;
    width: 18cm;
    background-image: url();
    background-size: cover;
}

.dest2 {
    border: 1px solid black;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: inline-block;
    height: 11cm;
    width: 18cm;
    margin-left: 2cm;
    background-image: url();
    background-size: cover;
}

.dest3 {
    border: 1px solid black;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: inline-block;
    height: 11cm;
    width: 18cm;
    background-image: url();
    background-size: cover;
}

.dest4 {
    border: 1px solid black;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: inline-block;
    height: 11cm;
    width: 18cm;
    margin-left: 2cm;
    background-image: url();
    background-size: cover;
}

.dest5 {
    border: 1px solid black;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: inline-block;
    height: 11cm;
    width: 18cm;
    background-image: url();
    background-size: cover;
}

.dest6 {
    border: 1px solid black;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: inline-block;
    height: 11cm;
    width: 18cm;
    margin-left: 2cm;
    background-image: url();
    background-size: cover;
}

.dest7 {
    border: 1px solid black;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: inline-block;
    height: 11cm;
    width: 18cm;
    background-image: url();
    background-size: cover;
}

.dest8 {
    border: 1px solid black;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: inline-block;
    height: 11cm;
    width: 18cm;
    margin-left: 2cm;
    background-image: url();
    background-size: cover;
}

.galeri {
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 139, 0.5);
    height: 4.5cm;
    width: 18cm;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 6.5cm;
}

.pp {
    border: 1px solid black;
    height: 1cm;
    width: 1cm;
    border-radius: 50%;
    display: inline-block;
}

.like {
    border: 1px solid black;
    width: 1.5cm;
    display: inline-block;
    border-radius: 50px;
    position: absolute;
    margin-left: 14cm;
    margin-top: 6cm;
    background-color: blue;
}

.love {
    border: 1px solid rgba(0, 0, 0, 0);
    display: inline-block;
    height: 0.3cm;
    width: 0.3cm;
    background-image: url(../Perancangan_Web/bgimage/heart-304085_960_720.png);
    background-size: cover;
    border-radius: 50%;
}

.button {
    border: 1px solid black;
    height: 1cm;
    width: 3.5cm;
    background-color: white;
    border-radius: 10px;
}

.space {
    height: 5cm;
}

footer {
    border: 1px solid black;
    height: 11cm;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: midnightblue;
}

.box {
    border: 1px solid rgba(0, 0, 0, 0);
    display: inline-block;
    width: 8.5cm;
    height: 11cm;
    margin-left: 1cm;
}

.text_footer {
    position: absolute;
    color: white;
}

.logo1 {
    border: 1px solid rgba(255, 255, 255, 0);
    width: 1cm;
    height: 1cm;
    display: inline-block;
    justify-content: space-between;
    background-size: cover;
    background-image: url(../Perancangan_Web/bgimage/fb-removebg-preview.png);
}

.logo2 {
    border: 1px solid rgba(255, 255, 255, 0);
    width: 1cm;
    height: 1cm;
    display: inline-block;
    justify-content: space-between;
    background-size: cover;
    background-image: url(../Perancangan_Web/bgimage/ig5-removebg-preview.png);
}

.logo3 {
    border: 1px solid rgba(255, 255, 255, 0);
    width: 1cm;
    height: 1cm;
    display: inline-block;
    justify-content: space-between;
    background-size: cover;
    background-image: url(../Perancangan_Web/bgimage/twtt-removebg-preview.png);
}