

body
{
    background-image: url(img/BG_SignUp.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.Login
{
    margin-left: 84%;
    margin-top: 1%;
    font-family: 'Segoe UI';
    color: white;
}

div.layoutKiri
{
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 30%;
    position: fixed;
    top: 0;
    left: 0;

    color: white;
}

div.layoutKanan
{
    background-color: rgba(37, 37, 37, 0.699);
    margin-left: 30%;
    height: 100%;
    width: 70%;
    position: fixed;
    top: 0;
    left: 0;
    
    font-family: 'Segoe UI';
    color: white;
}

h1
{
    margin-left: 20px;
}

.tableDouble
{
    width: 86%;
}

.tableSingle
{
    width: 93%;
}

.layoutKanan .KopAtas
{
    line-height: 50px;

}

table [type=text]
{
    border-radius: 5px;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-style: hidden;
    height: 30px;
}

table [type=email]
{
    border-radius: 5px;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-style: hidden;
    height: 30px;
}

table [type=password]
{
    border-radius: 5px;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-style: hidden;
    height: 30px;
}

button
{
    color: white;
    border-style: hidden;
    background-color:#162E44;
    width: 110px; height: 35px;
    border-radius: 5px;
}

.line
{
    border: 1px solid white;
    width: 140px;
    display: inline-block;
}

