@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
body {
    overflow-x: hidden;
}

p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: rgba(0, 0, 0, 0);
}

@font-face {
    font-family: Pacifico, cursive;
    src: url(../Perancangan_Web/Font/Pacifico-Regular.ttf);
    src: url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
}

.font {
    font-family: Pacifico, cursive;
    src: url(../Perancangan_Web/Font/Pacifico-Regular.ttf);
    src: url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
}

nav {
    padding: 20px 0;
    background-color: #162E44;
}

.navbar {
    margin-left: 20px;
    margin-right: 20px;
}

.title {
    font-size: 20px;
    font-family: Pacifico, cursive;
    src: url(../Perancangan_Web/Font/Pacifico-Regular.ttf);
    src: url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
    display: inline-block;
}

.menu {
    color: white;
    font-size: 19px;
    display: inline-block;
    margin-left: 40px;
    font-family: 'Segoe UI';
}

.profile-logo {
    float: right;
}

.bottom {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 756px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-image: url("img/landingpage-bg.png");
    background-size: cover;
}

.capt {
    border: 0px solid;
    color: white;
    font-size: 90px;
    margin-left: 75px;
    margin-bottom: 20px;
    margin-top: 50px;
    font-family: 'times new roman';
}

.slogan {
    border: 0px solid;
    color: white;
    font-size: 38px;
    margin-left: 75px;
}

.button {
    border: 2px solid#162E44;
    height: 54px;
    width: 196px;
    background-color: white;
    border-radius: 21px;
}

.left {
    display: inline-block;
    height: 49px;
    width: 49px;
    margin-left: 831px;
    background-image: url("img/scroll-left.png");
    background-size: cover;
}

.right {
    display: inline-block;
    height: 49px;
    width: 49px;
    margin-left: 19px;
    background-image: url("img/scroll-right.png");
    background-size: cover;
}

.center {
    margin-left: 210px;
}

.a {
    height: 491px;
    display: inline-block;
    margin-right: 75px;
}

.b {
    height: 491px;
    display: inline-block;
    margin-left: 38px;
}

.loc {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 19px;
    width: 19px;
    display: inline-block;
    background-size: cover;
}

.gambar1 {
    border-top-right-radius: 55px;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    display: inline-block;
    height: 454px;
    width: 559px;
    background-image: url('img/gambar1.png');
    background-size: cover;
}

.gambar2 {
    border-top-right-radius: 55px;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    display: inline-block;
    height: 454px;
    width: 559px;
    margin-left: 75px;
    background-image: url('img/gambar2.jpg');
    background-size: cover;
}

.gambar3 {
    border-top-right-radius: 55px;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    display: inline-block;
    height: 454px;
    width: 559px;
    background-image: url('img/gambar3.jpg');
    background-size: cover;
}

.gambar4 {
    border-top-right-radius: 55px;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    display: inline-block;
    height: 454px;
    width: 559px;
    margin-left: 75px;
    background-image: url('img/gambar4.jpg');
    background-size: cover;
}

.gambar5 {
    border-top-right-radius: 55px;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    display: inline-block;
    height: 454px;
    width: 559px;
    background-image: url('img/gambar5.jpg');
    background-size: cover;
}

.gambar6 {
    border-top-right-radius: 55px;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    display: inline-block;
    height: 454px;
    width: 559px;
    margin-left: 75px;
    background-image: url('img/gambar6.jpg');
    background-size: cover;
}

.gambar7 {
    border-top-right-radius: 55px;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    display: inline-block;
    height: 454px;
    width: 559px;
    background-image: url('img/gambar7.png');
    background-size: cover;
}

.gambar8 {
    border-top-right-radius: 55px;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    display: inline-block;
    height: 454px;
    width: 559px;
    margin-left: 75px;
    background-image: url('img/gambar8.png');
    background-size: cover;
}

.galeri {
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(22, 46, 68, 0.5);
    height: 166px;
    width: 559px;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    margin-top: 287px;
}

.galeri div {
    margin-left: 38px;
}

.galeri div div table {
    margin-top: 15px;
}

.galeri div div table tr td p {
    color: white;
    font-size: 21px;
    font-family: 'Segoe UI';
    display: inline-block;
    margin-left: 10px;
}

.galeri div p {
    color: white;
    font-size: 22px;
    margin-top: 5px;
    font-family: 'Segoe UI';
}

.pp1 {
    border: 2px solid rgb(255, 255, 255);
    height: 39px;
    width: 39px;
    border-radius: 50%;
    background-image: url('img/pp1.png');
    background-size: cover;
    display: inline-block;
}

.pp2 {
    border: 2px solid rgb(255, 255, 255);
    height: 39px;
    width: 39px;
    border-radius: 50%;
    background-image: url('img/pp2.jpg');
    background-size: cover;
    display: inline-block;
}

.pp3 {
    border: 2px solid rgb(255, 255, 255);
    height: 39px;
    width: 39px;
    border-radius: 50%;
    background-image: url('img/pp3.jpg');
    background-size: cover;
    display: inline-block;
}

.pp4 {
    border: 2px solid rgb(255, 255, 255);
    height: 39px;
    width: 39px;
    border-radius: 50%;
    background-image: url('img/pp4.jpg');
    background-size: cover;
    display: inline-block;
}

.pp5 {
    border: 2px solid rgb(255, 255, 255);
    height: 39px;
    width: 39px;
    border-radius: 50%;
    background-image: url('img/pp5.png');
    background-size: cover;
    display: inline-block;
}

.pp6 {
    border: 2px solid rgb(255, 255, 255);
    height: 39px;
    width: 39px;
    border-radius: 50%;
    background-image: url('img/pp6.jpg');
    background-size: cover;
    display: inline-block;
}

.pp7 {
    border: 2px solid rgb(255, 255, 255);
    height: 39px;
    width: 39px;
    border-radius: 50%;
    background-image: url('img/pp7.png');
    background-size: cover;
    display: inline-block;
}

.pp8 {
    border: 2px solid rgb(255, 255, 255);
    height: 39px;
    width: 39px;
    border-radius: 50%;
    background-image: url('img/pp8.jpg');
    background-size: cover;
    display: inline-block;
}

.like {
    width: 80px;
    height: 37px;
    display: inline-block;
    border-radius: 50px;
    position: absolute;
    margin-left: 445px;
    margin-top: 270px;
    background-color: #162E44;
}

.love {
    border: 1px solid rgba(0, 0, 0, 0);
    display: inline-block;
    height: 11px;
    width: 11px;
    background-image: url(../Perancangan_Web/bgimage/heart-304085_960_720.png);
    background-size: cover;
    border-radius: 50%;
}

footer {
    height: 450px;
    border-top-right-radius: 68px;
    border-top-left-radius: 68px;
    background-color: #162E44;
}

.box {
    display: inline-block;
    width: 321px;
    height: 416px;
    margin-left: 50px;
}

.text_footer {
    position: absolute;
    color: white;
    font-family: 'Segoe UI';
    font-size: 25px;
}

.box-bottom {
    height: 330px;
    width: 330px;
    border-radius: 35px;
    display: inline-block;
    margin-left: 1000px;
    background-color: rgba(255, 255, 255, 0.315);
}

.exp {
    width: 280px;
    border-radius: 35px;
    padding: 25px;
    background-color: #162E44;
}

.ling {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    margin-left: 110px;
    margin-top: 50px;
    background-image: url('img/icon-add.png');
    background-size: cover;
}

.navs {
    display: none;
    position: absolute;
    right: 20px;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    height: 30px;
    justify-content: space-between;
}

.menu-toggle input {
    position: absolute;
    height: 35px;
    width: 35px;
    opacity: 0;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    transition: all 0.5s;
}

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(2px, -1px);
}

.menu-toggle input:checked~span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(3px, 0);
}

.exp p {
    color: white;
    font-size: 26px;
    text-align: center;
}

form button {
    font-size: 17px;
    font-family: 'Segoe UI';
    color: #162E44;
}

.like p {
    color: white;
    display: inline-block;
    font-size: 21px;
    margin-top: 3px;
    font-family: 'Segoe UI';
}

.choice .p1 {
    font-size: 23px;
    font-family: 'Segoe UI';
    display: inline-block;
    color: #162E44;
    margin-right: 66px;
}

.choice .p2 {
    font-size: 23px;
    font-family: 'Segoe UI';
    display: inline-block;
    color: #162E44;
}

@media (max-width: 720px) {
    body {
        width: 100%;
    }
    .navbar strong {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        position: absolute;
        right: 0;
        top: 50px;
        background-color: #162E44;
        justify-content: space-evenly;
        height: 60vh;
        width: 80%;
        align-items: center;
        z-index: 3;
        transform: translateY(-200%);
        transition: all 0.5s;
        opacity: 0;
    }
    .navbar strong.slide {
        transform: translateY(0);
        opacity: 1;
    }
    .menu {
        margin-left: 0;
    }
    .title {
        display: inline-block;
    }
    .navs {
        display: inline-block;
        position: absolute;
    }
    .bottom {
        height: 650px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .capt {
        font-size: 50px;
        left: -60px;
        position: absolute;
    }
    .slogan {
        position: absolute;
        font-size: 22px;
        text-align: right;
        top: 280px;
        right: 10px;
        width: 100%;
    }
    footer {
        width: 100%;
        height: 1680px;
        align-items: center;
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
        margin-bottom: 0;
    }
    .box {
        margin-left: 20%;
    }
    .text_footer p {
        text-align: center;
    }
    .box-bottom {
        margin-left: 5%;
        margin-top: 90%;
        height: 200px;
        width: 200px;
    }
    .exp {
        width: 170px;
        padding: 15px;
    }
    .exp p {
        font-size: 20px;
    }
    .ling {
        width: 70px;
        height: 70px;
        margin-left: 35%;
        margin-top: 13%;
    }
    .button {
        height: 34px;
        width: 106px;
        border-radius: 10px;
    }
    form button {
        font-size: 12px;
    }
    .like {
        width: 65px;
        height: 32px;
        border-radius: 50px;
        margin-left: 235px;
        margin-top: 138px;
        z-index: 3;
    }
    .like p {
        font-size: 18px;
        margin-top: 5px;
        margin-left: -5px;
    }
    .galeri {
        border: 1px solid rgba(0, 0, 0, 0);
        background-color: rgba(22, 46, 68, 0.5);
        height: 90px;
        width: 319px;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
        z-index: 2;
        margin-top: 153px;
    }
    .galeri div {
        margin-left: 15px;
    }
    .galeri div div table {
        margin-top: 0px;
    }
    .galeri div div table tr td p {
        font-size: 15px;
        margin-left: 10px;
    }
    .galeri div p {
        font-size: 13px;
        margin-left: 6px;
        margin-top: 3px;
    }
    .gambar1 {
        border-top-right-radius: 35px;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
        margin-left: -10px;
        height: 244px;
        width: 319px;
        z-index: 1;
    }
    .gambar2 {
        border-top-right-radius: 35px;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
        margin-left: -10px;
        margin-top: 35px;
        height: 244px;
        width: 319px;
        z-index: 1;
    }
    .gambar3 {
        border-top-right-radius: 35px;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
        margin-left: -10px;
        height: 244px;
        width: 319px;
        z-index: 1;
    }
    .gambar4 {
        border-top-right-radius: 35px;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
        margin-left: -10px;
        margin-top: 35px;
        height: 244px;
        width: 319px;
        z-index: 1;
    }
    .gambar5 {
        border-top-right-radius: 35px;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
        margin-left: -10px;
        height: 244px;
        width: 319px;
        z-index: 1;
    }
    .gambar6 {
        border-top-right-radius: 35px;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
        margin-left: -10px;
        margin-top: 35px;
        height: 244px;
        width: 319px;
        z-index: 1;
    }
    .gambar7 {
        border-top-right-radius: 35px;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
        margin-left: -10px;
        height: 244px;
        width: 319px;
        z-index: 1;
    }
    .gambar8 {
        border-top-right-radius: 35px;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
        margin-left: -10px;
        margin-top: 35px;
        height: 244px;
        width: 319px;
        z-index: 1;
    }
    .pp1 {
        height: 27px;
        width: 27px;
    }
    .pp2 {
        height: 27px;
        width: 27px;
    }
    .pp3 {
        height: 27px;
        width: 27px;
    }
    .pp4 {
        height: 27px;
        width: 27px;
    }
    .pp5 {
        height: 27px;
        width: 27px;
    }
    .pp6 {
        height: 27px;
        width: 27px;
    }
    .pp7 {
        height: 27px;
        width: 27px;
    }
    .pp8 {
        height: 27px;
        width: 27px;
    }
    .center {
        margin-left: 8%;
    }
    .choice {
        margin-top: 30px;
    }
}

@media (min-width: 720px) and (max-width: 996px) {
    body {
        width: 100%;
    }
    .navbar strong {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        position: absolute;
        right: 0;
        top: 50px;
        background-color: #162E44;
        justify-content: space-evenly;
        height: 60vh;
        width: 80%;
        align-items: center;
        z-index: 3;
        transform: translateY(-200%);
        transition: all 0.5s;
        opacity: 0;
    }
    .navbar strong.slide {
        transform: translateY(0);
        opacity: 1;
    }
    .menu {
        margin-left: 0;
    }
    .title {
        display: inline-block;
    }
    .navs {
        display: inline-block;
        position: absolute;
    }
    .bottom {
        height: 650px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    footer {
        width: 100%;
        height: 50%;
        border-top-left-radius: 55px;
        border-top-right-radius: 55px;
    }
    .box-bottom {
        margin-left: 65%;
        margin-top: 15%;
        height: 200px;
        width: 200px;
    }
    .exp {
        width: 170px;
        padding: 15px;
    }
    .exp p {
        font-size: 20px;
    }
    .ling {
        width: 70px;
        height: 70px;
        margin-left: 33%;
        margin-top: 13%;
    }
    .center {
        margin-left: 13%;
    }
    .gambar2 {
        margin-left: 0%;
        margin-top: 6%;
    }
    .gambar4 {
        margin-left: 0%;
        margin-top: 6%;
    }
    .gambar6 {
        margin-left: 0%;
        margin-top: 6%;
    }
    .gambar8 {
        margin-left: 0%;
        margin-top: 6%;
    }
    .choice {
        margin-top: 5%;
    }
}