@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
body {
    overflow-x: hidden;
}

p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: rgba(0, 0, 0, 0);
}

@font-face {
    font-family: Pacifico, cursive;
    src: url(../Perancangan_Web/Font/Pacifico-Regular.ttf);
    src: url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
}

.font {
    font-family: Pacifico, cursive;
    src: url(../Perancangan_Web/Font/Pacifico-Regular.ttf);
    src: url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
}

nav {
    padding: 20px 0;
    background-color: #162E44;
}

.navbar {
    margin-left: 20px;
    margin-right: 20px;
}

.title {
    font-size: 20px;
    font-family: Pacifico, cursive;
    src: url(../Perancangan_Web/Font/Pacifico-Regular.ttf);
    src: url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
    display: inline-block;
}

.menu {
    color: white;
    font-size: 19px;
    display: inline-block;
    margin-left: 40px;
    font-family: 'Segoe UI';
}

.profile-logo {
    float: right;
}

.bottom {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 756px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-image: url("img/landingpage-bg.png");
    background-size: cover;
}

.capt {
    border: 0px solid;
    color: white;
    font-size: 90px;
    margin-left: 75px;
    margin-bottom: 20px;
    margin-top: 50px;
    font-family: 'times new roman';
}

.slogan {
    border: 0px solid;
    color: white;
    font-size: 38px;
    margin-left: 75px;
}

.button {
    border: 2px solid#162E44;
    height: 54px;
    width: 196px;
    background-color: white;
    border-radius: 21px;
}

.jawa {
    display: inline-block;
    color: #162E44;
    font-family: 'Segoe UI';
    font-size: 23px;
    height: 38px;
    width: 38px;
}

.sumatra {
    display: inline-block;
    color: #162E44;
    font-family: 'Segoe UI';
    font-size: 23px;
    margin-left: 75px;
    height: 38px;
    width: 38px;
}

.bali {
    display: inline-block;
    color: #162E44;
    font-family: 'Segoe UI';
    font-size: 23px;
    margin-left: 113px;
    height: 38px;
    width: 38px;
}

.left {
    display: inline-block;
    height: 49px;
    width: 49px;
    margin-left: 831px;
    background-image: url("img/scroll-left.png");
    background-size: cover;
}

.right {
    display: inline-block;
    height: 49px;
    width: 49px;
    margin-left: 19px;
    background-image: url("img/scroll-right.png");
    background-size: cover;
}

.goal {
    border: 1px solid rgba(0, 0, 0, 0);
    margin-left: 80px;
}

.dest1 {
    height: 387px;
    width: 300px;
    display: inline-block;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
    background-image: url("img/dest1.webp");
    background-size: cover;
    background-position: center;
}

.dest2 {
    height: 387px;
    width: 300px;
    display: inline-block;
    margin-left: 38px;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
    background-image: url("img/dest2.jpeg");
    background-size: cover;
}

.dest3 {
    height: 387px;
    width: 300px;
    display: inline-block;
    margin-left: 38px;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
    background-image: url("img/dest3.jpg");
    background-size: cover;
    background-position: center;
}

.dest4 {
    height: 387px;
    width: 300px;
    display: inline-block;
    margin-left: 38px;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
    background-image: url("img/dest4.jpg");
    background-size: cover;
}

.text-dest {
    background-color: rgb(22, 46, 68, 0.5);
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0);
    font-family: 'Segoe UI';
    height: 65px;
    width: 300px;
    border-radius: 43px;
    margin-top: 270px;
    padding: 25px 0;
}

.star {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 11px;
    width: 11px;
    display: inline-block;
    background-image: url("img/icon-star.png");
    background-size: cover;
}

.keluarga {
    display: inline-block;
    font-size: 23px;
    font-family: 'Segoe UI';
    color: #162E44;
}

.pasangan {
    display: inline-block;
    margin-left: 38px;
    font-size: 23px;
    font-family: 'Segoe UI';
    color: #162E44;
}

.team {
    display: inline-block;
    margin-left: 38px;
    font-size: 23px;
    font-family: 'Segoe UI';
    color: #162E44;
}

.dest5 {
    height: 387px;
    width: 300px;
    display: inline-block;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
    background-image: url('img/dest5.jpg');
    background-size: cover;
}

.dest6 {
    height: 387px;
    width: 300px;
    display: inline-block;
    margin-left: 38px;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
    background-image: url('img/dest6.jpg');
    background-size: cover;
}

.dest7 {
    height: 387px;
    width: 300px;
    display: inline-block;
    margin-left: 38px;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
    background-image: url('img/dest7.jpg');
    background-size: cover;
}

.a {
    height: 491px;
    display: inline-block;
    margin-right: 75px;
}

.b {
    height: 491px;
    display: inline-block;
    margin-left: 38px;
}

.kiri {
    height: 49px;
    width: 49px;
    margin-top: 264px;
    position: absolute;
    background-image: url("img/scroll-left.png");
    background-size: cover;
}

.kanan {
    height: 49px;
    width: 49px;
    margin-top: 264px;
    position: absolute;
    background-image: url("img/scroll-right.png");
    background-size: cover;
}

.loc {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 19px;
    width: 19px;
    display: inline-block;
    background-image: url(../Perancangan_Web/bgimage/pixlr-bg-result.png);
    background-size: cover;
}

.bord {
    border: 2px solid rgb(255, 255, 255);
    width: 627px;
    height: 115px;
    border-radius: 80px;
}

.round {
    width: 38px;
    height: 38px;
    background-image: url('img/scroll-down.png');
    background-size: cover;
    display: inline-block;
    margin-left: 38px;
}

.top-line {
    border: 1px solid rgb(255, 255, 255);
    width: 189px;
    display: inline-block;
}

.bot-line {
    border: 1px solid rgb(255, 255, 255);
    width: 170px;
    display: inline-block;
}

.nama_depan {
    width: 227px;
    height: 38px;
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
}

.nama_belakang {
    width: 227px;
    height: 38px;
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
}

.jenis_kelamin {
    height: 45px;
    width: 472px;
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
}

.inp {
    height: 38px;
    width: 466px;
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
}

.inp2 {
    height: 38px;
    width: 385px;
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
}

.space {
    width: 75px;
}

td {
    font-size: 19px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

td p {
    font-size: 19px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.submission {
    border-radius: 50%;
    width: 56px;
    height: 56px;
    background-color: rgb(226, 226, 226);
    text-align: center;
}

fieldset {
    border: none;
    width: 756px;
    background-color: rgba(32, 49, 59, 0.5);
}

.jarak {
    height: 50px;
}

.form {
    background-image: url('img/form-bg.jpeg');
    background-size: cover;
    width: 100%;
}

footer {
    height: 450px;
    border-top-right-radius: 68px;
    border-top-left-radius: 68px;
    background-color: #162E44;
}

.box {
    display: inline-block;
    width: 321px;
    height: 416px;
    margin-left: 50px;
}

.text_footer {
    position: absolute;
    color: white;
    font-family: 'Segoe UI';
    font-size: 25px;
}

table {
    font-size: 19px;
    font-family: 'Segoe UI';
}

.navs {
    display: none;
    position: absolute;
    right: 20px;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    height: 30px;
    justify-content: space-between;
}

.menu-toggle input {
    position: absolute;
    height: 35px;
    width: 35px;
    opacity: 0;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    transition: all 0.5s;
}

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(2px, -1px);
}

.menu-toggle input:checked~span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(3px, 0);
}

.main h1 {
    font-size: 60px;
    color: #162E44;
}

.rekom {
    margin-left: 80px;
    color: #162E44;
}

.rekom h1 {
    font-size: 60px;
}

.rekom div {
    display: inline-block;
}

form button {
    font-size: 17px;
    font-family: 'Segoe UI';
    color: #162E44;
}

.bord h1 {
    font-size: 63px;
    display: inline-block;
    color: white;
    margin-top: 20px;
}

.ppp p {
    display: inline-block;
    font-size: 21px;
    font-family: 'Segoe UI';
    color: white;
}

.ooo p {
    display: inline-block;
    font-size: 21px;
    color: white;
    font-family: 'Segoe UI';
}

#submit:hover {
    background-color: azure;
}

@media (max-width: 720px) {
    body {
        width: 100%;
    }
    .program {
        margin-top: 25px;
    }
    .navbar strong {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        position: absolute;
        right: 0;
        top: 50px;
        background-color: #162E44;
        justify-content: space-evenly;
        height: 60vh;
        width: 80%;
        align-items: center;
        z-index: 3;
        transform: translateY(-200%);
        transition: all 0.5s;
        opacity: 0;
    }
    .navbar strong.slide {
        transform: translateY(0);
        opacity: 1;
    }
    .menu {
        margin-left: 0;
    }
    .title {
        display: inline-block;
    }
    .navs {
        display: inline-block;
        position: absolute;
    }
    .capt {
        font-size: 50px;
        position: absolute;
        left: -60px;
        top: 50px;
    }
    .slogan {
        font-size: 22px;
        position: absolute;
        right: 10px;
        top: 340px;
        text-align: right;
    }
    .bottom {
        height: 650px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .a {
        display: none;
    }
    .b {
        display: none;
    }
    .left {
        display: none;
    }
    .right {
        display: none;
    }
    .main h1 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 30px;
    }
    .jawa {
        font-size: 15px;
        margin-left: 0px;
    }
    .sumatra {
        font-size: 15px;
        margin-left: 50px;
    }
    .bali {
        font-size: 15px;
        margin-left: 70px;
    }
    .keluarga {
        font-size: 15px;
    }
    .pasangan {
        font-size: 15px;
    }
    .team {
        font-size: 15px;
    }
    .rekom h1 {
        font-size: 30px;
        text-align: center;
        margin-left: -25%;
    }
    .rekom div {
        margin-top: 50px;
        margin-left: -5%;
    }
    .goal {
        margin-left: 0;
        margin-top: 40px;
    }
    .dest6 {
        margin-left: 0%;
        margin-top: 30px;
    }
    .dest7 {
        margin-left: 0%;
        margin-top: 30px;
    }
    .button {
        height: 34px;
        width: 106px;
        border-radius: 10px;
    }
    form button {
        font-size: 12px;
    }
    .dest1 {
        margin-top: -40px;
        margin-left: 9%;
    }
    .dest2 {
        margin-left: 9%;
        margin-top: 30px;
    }
    .dest3 {
        margin-left: 9%;
        margin-top: 30px;
    }
    .dest4 {
        margin-left: 9%;
        margin-top: 30px;
    }
    footer {
        width: 100%;
        height: 1675px;
        align-items: center;
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
        margin-bottom: 0;
    }
    .box {
        margin-left: 20%;
    }
    .text_footer p {
        text-align: center;
    }
    fieldset {
        width: 100%;
    }
    .bord {
        width: 227px;
        height: 55px;
        margin-left: -25%;
    }
    .bord h1 {
        font-size: 21px;
        margin-left: 3%;
        margin-top: 6%;
    }
    .round {
        width: 22px;
        height: 22px;
        margin-left: 10%;
    }
    .ppp p {
        font-size: 14px;
    }
    .ppp {
        text-align: center;
        margin-left: -25%;
        align-items: center;
    }
    .ooo {
        text-align: center;
        margin-left: -25%;
        align-items: center;
    }
    .ooo p {
        font-size: 14px;
    }
    .top-line {
        width: 80px;
    }
    .bot-line {
        width: 70px;
    }
    .nama_depan {
        width: 90%;
        height: 28px;
        border-radius: 10px;
        margin-left: 0%;
    }
    .nama_belakang {
        width: 90%;
        height: 28px;
        border-radius: 10px;
        margin-left: 0%;
    }
    td {
        font-size: 15px;
    }
    td p {
        font-size: 15px;
        margin-left: 8%;
    }
    #p {
        margin-left: 4%;
    }
    .jenis_kelamin {
        height: 32px;
        width: 96%;
        margin-left: 0%;
    }
    #inp {
        width: 95%;
        height: 28px;
        margin-left: 0%;
    }
    #inp2 {
        width: 95%;
        height: 28px;
        margin-left: 0%;
    }
    #inp3 {
        width: 115%;
        height: 28px;
        margin-left: 5.9%;
    }
    #inp4 {
        height: 28px;
        width: 130%;
    }
    .table1 {
        margin-left: -22%;
    }
    .table2 {
        margin-left: -49%;
    }
    #fieldset {
        margin-left: 20%;
    }
    tr td #submit {
        margin-left: 30%;
    }
}

@media (min-width: 720px) and (max-width: 996px) {
    body {
        width: 100%;
    }
    .navbar strong {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        position: absolute;
        right: 0;
        top: 50px;
        background-color: #162E44;
        justify-content: space-evenly;
        height: 60vh;
        width: 80%;
        align-items: center;
        z-index: 3;
        transform: translateY(-200%);
        transition: all 0.5s;
        opacity: 0;
    }
    .navbar strong.slide {
        transform: translateY(0);
        opacity: 1;
    }
    .menu {
        margin-left: 0;
    }
    .title {
        display: inline-block;
    }
    .navs {
        display: inline-block;
        position: absolute;
    }
    .bottom {
        height: 650px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    footer {
        width: 100%;
        height: 100%;
        border-top-left-radius: 55px;
        border-top-right-radius: 55px;
    }
    fieldset {
        width: 100%;
    }
    .a {
        display: none;
    }
    .b {
        display: none;
    }
    .left {
        display: none;
    }
    .right {
        display: none;
    }
    .goal {
        margin-left: 0%;
        margin-top: 5%;
    }
    .dest7 {
        margin-top: 5%;
    }
    .rekom h1 {
        text-align: center;
        margin-left: -10%;
    }
    .rekom div {
        margin-top: 5%;
        margin-left: 20%;
        text-align: center;
    }
    .dest1 {
        margin-left: 8%;
    }
    .dest3 {
        margin-top: 5%;
        margin-left: 8%;
    }
}