@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: rgba(0, 0, 0, 0);
}

@font-face {
    font-family: Pacifico, cursive;
    src: url(../Perancangan_Web/Font/Pacifico-Regular.ttf);
    src: url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
}

.font {
    font-family: Pacifico, cursive;
    src: url(../Perancangan_Web/Font/Pacifico-Regular.ttf);
    src: url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
}

nav {
    padding: 20px 0;
    background-color: #162E44;
}

.navbar {
    margin-left: 20px;
    margin-right: 20px;
}

.title {
    font-size: 20px;
    font-family: Pacifico, cursive;
    src: url(../Perancangan_Web/Font/Pacifico-Regular.ttf);
    src: url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
    display: inline-block;
}

.menu {
    color: white;
    font-size: 19px;
    display: inline-block;
    margin-left: 40px;
    font-family: 'Segoe UI';
}

.profile-logo {
    float: right;
}

.bottom {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 756px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-image: url("img/landingpage-bg.png");
    background-size: cover;
}

.capt {
    border: 0px solid;
    color: white;
    font-size: 90px;
    margin-left: 75px;
    margin-bottom: 20px;
    margin-top: 50px;
    font-family: 'times new roman';
}

.slogan {
    border: 0px solid;
    color: white;
    font-size: 38px;
    margin-left: 75px;
}

.button {
    border: 2px solid#162E44;
    height: 54px;
    width: 196px;
    background-color: white;
    border-radius: 21px;
}

.jawa {
    display: inline-block;
    color: #162E44;
    font-family: 'Segoe UI';
    font-size: 23px;
    height: 38px;
    width: 38px;
}

.sumatra {
    display: inline-block;
    color: #162E44;
    font-family: 'Segoe UI';
    font-size: 23px;
    margin-left: 75px;
    height: 38px;
    width: 38px;
}

.bali {
    display: inline-block;
    color: #162E44;
    font-family: 'Segoe UI';
    font-size: 23px;
    margin-left: 113px;
    height: 38px;
    width: 38px;
}

.left {
    display: inline-block;
    height: 49px;
    width: 49px;
    margin-left: 831px;
    background-image: url("img/scroll-left.png");
    background-size: cover;
}

.right {
    display: inline-block;
    height: 49px;
    width: 49px;
    margin-left: 19px;
    background-image: url("img/scroll-right.png");
    background-size: cover;
}

.goal {
    border: 1px solid rgba(0, 0, 0, 0);
    margin-left: 80px;
}

.dest1 {
    height: 387px;
    width: 300px;
    display: inline-block;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
    background-image: url("img/dest1.webp");
    background-size: cover;
    background-position: center;
}

.dest2 {
    height: 387px;
    width: 300px;
    display: inline-block;
    margin-left: 38px;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
    background-image: url("img/dest2.jpeg");
    background-size: cover;
}

.dest3 {
    height: 387px;
    width: 300px;
    display: inline-block;
    margin-left: 38px;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
    background-image: url("img/dest3.jpg");
    background-size: cover;
    background-position: center;
}

.dest4 {
    height: 387px;
    width: 300px;
    display: inline-block;
    margin-left: 38px;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
    background-image: url("img/dest4.jpg");
    background-size: cover;
}

.text-dest {
    background-color: rgb(22, 46, 68, 0.5);
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0);
    font-family: 'Segoe UI';
    height: 65px;
    width: 300px;
    border-radius: 43px;
    margin-top: 270px;
    padding: 25px 0;
}

.star {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 11px;
    width: 11px;
    display: inline-block;
    background-image: url("img/icon-star.png");
    background-size: cover;
}

.keluarga {
    display: inline-block;
    font-size: 23px;
    font-family: 'Segoe UI';
    color: #162E44;
}

.pasangan {
    display: inline-block;
    margin-left: 38px;
    font-size: 23px;
    font-family: 'Segoe UI';
    color: #162E44;
}

.team {
    display: inline-block;
    margin-left: 38px;
    font-size: 23px;
    font-family: 'Segoe UI';
    color: #162E44;
}

.dest5 {
    height: 387px;
    width: 300px;
    display: inline-block;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
    background-image: url('img/dest5.jpg');
    background-size: cover;
}

.dest6 {
    height: 387px;
    width: 300px;
    display: inline-block;
    margin-left: 38px;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
    background-image: url('img/dest6.jpg');
    background-size: cover;
}

.dest7 {
    height: 387px;
    width: 300px;
    display: inline-block;
    margin-left: 38px;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
    background-image: url('img/dest7.jpg');
    background-size: cover;
}

.a {
    height: 491px;
    display: inline-block;
    margin-right: 75px;
}

.b {
    height: 491px;
    display: inline-block;
    margin-left: 38px;
}

.kiri {
    height: 49px;
    width: 49px;
    margin-top: 264px;
    position: absolute;
    background-image: url("img/scroll-left.png");
    background-size: cover;
}

.kanan {
    height: 49px;
    width: 49px;
    margin-top: 264px;
    position: absolute;
    background-image: url("img/scroll-right.png");
    background-size: cover;
}

.loc {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 19px;
    width: 19px;
    display: inline-block;
    background-image: url(../Perancangan_Web/bgimage/pixlr-bg-result.png);
    background-size: cover;
}

.bord {
    border: 2px solid rgb(255, 255, 255);
    width: 627px;
    height: 115px;
    border-radius: 80px;
}

.round {
    width: 38px;
    height: 38px;
    background-image: url('img/scroll-down.png');
    background-size: cover;
    display: inline-block;
    margin-left: 38px;
}

.top-line {
    border: 1px solid rgb(255, 255, 255);
    width: 189px;
    display: inline-block;
}

.bot-line {
    border: 1px solid rgb(255, 255, 255);
    width: 170px;
    display: inline-block;
}

.nama_depan {
    width: 227px;
    height: 38px;
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
}

.nama_belakang {
    width: 227px;
    height: 38px;
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
}

.jenis_kelamin {
    height: 45px;
    width: 472px;
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
}

.inp {
    height: 38px;
    width: 466px;
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
}

.inp2 {
    height: 38px;
    width: 385px;
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
}

.space {
    width: 75px;
}

td {
    font-size: 19px;
    color: white;
}

.submission {
    border-radius: 50%;
    width: 56px;
    height: 56px;
    background-color: rgb(226, 226, 226);
    text-align: center;
}

fieldset {
    border: none;
    width: 756px;
    background-color: rgba(32, 49, 59, 0.5);
}

.jarak {
    height: 50px;
}

.form {
    background-image: url('img/form-bg.jpeg');
    background-size: cover;
}

footer {
    height: 450px;
    border-top-right-radius: 68px;
    border-top-left-radius: 68px;
    background-color: #162E44;
}

.box {
    display: inline-block;
    width: 321px;
    height: 416px;
    margin-left: 50px;
}

.text_footer {
    position: absolute;
    color: white;
    font-family: 'Segoe UI';
    font-size: 25px;
}

table {
    font-size: 19px;
    font-family: 'Segoe UI';
}