@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
body {
    overflow-x: hidden;
}

p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: rgba(0, 0, 0, 0);
}

@font-face {
    font-family: Pacifico, cursive;
    src: url(../Perancangan_Web/Font/Pacifico-Regular.ttf);
    src: url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
}

.font {
    font-family: Pacifico, cursive;
    src: url(../Perancangan_Web/Font/Pacifico-Regular.ttf);
    src: url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
}

nav {
    padding: 20px 0;
    background-color: #162E44;
}

.navbar {
    margin-left: 20px;
    margin-right: 20px;
}

.title {
    font-size: 20px;
    font-family: Pacifico, cursive;
    src: url(../Perancangan_Web/Font/Pacifico-Regular.ttf);
    src: url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
    display: inline-block;
}

.menu {
    color: white;
    font-size: 19px;
    display: inline-block;
    margin-left: 40px;
    font-family: 'Segoe UI';
}

.profile-logo {
    float: right;
}

.bottom {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 756px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-image: url("img/landingpage-bg.png");
    background-size: cover;
}

.capt {
    border: 0px solid;
    color: white;
    font-size: 90px;
    margin-left: 75px;
    margin-bottom: 20px;
    margin-top: 50px;
    font-family: 'times new roman';
}

.slogan {
    border: 0px solid;
    color: white;
    font-size: 38px;
    margin-left: 75px;
}

.berita {
    margin-left: 59px;
}

.box1-berita {
    height: 756px;
    width: 740px;
    display: inline-block;
    margin-left: 19px;
}

.box2-berita {
    height: 756px;
    width: 605px;
    display: inline-block;
}

.gambar1 {
    height: 382px;
    width: 687px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-image: url("img/gambar1.jpg");
    background-size: cover;
}

.button {
    border: 2px solid#162E44;
    height: 54px;
    width: 196px;
    background-color: white;
    border-radius: 21px;
}

.sub-box {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 151px;
    display: flex;
}

.gambar2 {
    width: 234px;
    height: 129px;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url("img/gambar2.jpg");
    background-size: cover;
}

.gambar3 {
    width: 234px;
    height: 129px;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url("img/gambar3.jpg");
    background-size: cover;
}

.gambar4 {
    width: 234px;
    height: 129px;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url("img/gambar4.jpg");
    background-size: cover;
}

.gambar5 {
    width: 234px;
    height: 129px;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url("img/gambar5.jpg");
    background-size: cover;
}

.jawa {
    display: inline-block;
    font-size: 21px;
    color: #162E44;
    font-family: 'Segoe UI';
    height: 38px;
    width: 38px;
}

.sumatra {
    display: inline-block;
    font-size: 21px;
    color: #162E44;
    font-family: 'Segoe UI';
    margin-left: 75px;
    height: 38px;
    width: 38px;
}

.bali {
    display: inline-block;
    font-size: 21px;
    color: #162E44;
    font-family: 'Segoe UI';
    margin-left: 113px;
    height: 38px;
    width: 38px;
}

.left {
    display: inline-block;
    height: 42px;
    width: 42px;
    margin-left: 831px;
    background-image: url('img/scroll-left.png');
    background-size: cover;
}

.right {
    display: inline-block;
    height: 42px;
    width: 42px;
    margin-left: 19px;
    background-image: url('img/scroll-right.png');
    background-size: cover;
}

.goal {
    border: 1px solid rgba(0, 0, 0, 0);
    margin-left: 59px;
}

.dest1 {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 302px;
    width: 321px;
    display: inline-block;
}

.dest2 {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 302px;
    width: 321px;
    display: inline-block;
    margin-left: 38px;
}

.dest3 {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 302px;
    width: 321px;
    display: inline-block;
    margin-left: 38px;
}

.dest4 {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 302px;
    width: 321px;
    display: inline-block;
    margin-left: 38px;
}

.gambar6 {
    width: 321px;
    height: 189px;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url(img/gambar6.png);
    background-size: cover;
}

.gambar7 {
    width: 321px;
    height: 189px;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url(img/gambar7.png);
    background-size: cover;
}

.gambar8 {
    width: 321px;
    height: 189px;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url(img/gambar8.png);
    background-size: cover;
}

.gambar9 {
    width: 321px;
    height: 189px;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url(img/gambar9.png);
    background-size: cover;
}

.gambar10 {
    width: 321px;
    height: 189px;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url(img/gambar10.png);
    background-size: cover;
}

.gambar11 {
    width: 321px;
    height: 189px;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url(img/gambar11.png);
    background-size: cover;
}

.gambar12 {
    width: 321px;
    height: 189px;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url(img/gambar12.png);
    background-size: cover;
}

.gambar13 {
    width: 321px;
    height: 189px;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url(img/gambar13.png);
    background-size: cover;
}

.gambar14 {
    width: 321px;
    height: 189px;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url(img/gambar14.png);
    background-size: cover;
}

.gambar15 {
    width: 321px;
    height: 189px;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url(img/gambar15.png);
    background-size: cover;
}

.gambar16 {
    width: 321px;
    height: 189px;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url(img/gambar16.png);
    background-size: cover;
}

.gambar17 {
    width: 321px;
    height: 189px;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url(img/gambar17.png);
    background-size: cover;
}

.button {
    border: 2px solid#162E44;
    height: 54px;
    width: 196px;
    background-color: white;
    border-radius: 21px;
}

footer {
    height: 450px;
    border-top-right-radius: 68px;
    border-top-left-radius: 68px;
    background-color: #162E44;
}

.box {
    display: inline-block;
    width: 321px;
    height: 415px;
    margin-left: 50px;
}

.text_footer {
    position: absolute;
    color: white;
    font-family: 'Segoe UI';
    font-size: 25px;
}

.inputBar {
    padding: 5px;
    width: 260px;
    border: none;
    background: none;
}

.searchBar {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px 12px;
    width: 300px;
    border-radius: 50px;
    margin-left: 1150px;
}

.box1-berita a h2 {
    font-size: 35px;
    color: #162E44;
}

.box1-berita p {
    font-size: 23px;
    font-family: 'Segoe UI';
    color: #162E44;
}

.kal {
    margin-left: 29px;
    font-family: 'Segoe UI';
    font-size: 21px;
    color: #162E44;
}

.jam {
    margin-left: 29px;
    font-size: 18px;
    font-family: 'Segoe UI';
    color: #162E44;
}

.button strong {
    font-size: 17px;
    font-family: 'Segoe UI';
    color: #162E44;
}

.navs {
    display: none;
    position: absolute;
    right: 20px;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    height: 30px;
    justify-content: space-between;
}

.menu-toggle input {
    position: absolute;
    height: 35px;
    width: 35px;
    opacity: 0;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    transition: all 0.5s;
}

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(2px, -1px);
}

.menu-toggle input:checked~span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(3px, 0);
}

.main {
    margin-left: 59px;
}

.main h1 {
    font-size: 57px;
    color: #162E44;
}

.main div {
    display: inline-block;
}

center button strong {
    font-size: 17px;
    font-family: 'Segoe UI';
    color: #162E44;
}

@media (max-width: 720px) {
    .navbar strong {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        position: absolute;
        right: 0;
        top: 50px;
        background-color: #162E44;
        justify-content: space-evenly;
        height: 60vh;
        width: 80%;
        align-items: center;
        z-index: 3;
        transform: translateX(100%);
        transition: all 0.5s;
        opacity: 0;
    }
    .navbar strong.slide {
        transform: translateX(0);
        opacity: 1;
    }
    .menu {
        margin-left: 0;
    }
    .title {
        display: inline-block;
    }
    .navs {
        display: inline-block;
        position: absolute;
    }
    .bottom {
        height: 650px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .capt {
        font-size: 50px;
        position: absolute;
        left: -60px;
        top: 50px;
    }
    .slogan {
        font-size: 22px;
        position: absolute;
        right: 10px;
        top: 340px;
        text-align: right;
    }
    .searchBar {
        margin-left: 0px;
        width: 225px;
        position: absolute;
        right: 10px;
        top: 410px;
    }
    .gambar1 {
        height: 220px;
        width: 105%;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
    }
    .box1-berita {
        margin-left: -40px;
        width: 100%;
    }
    .box1-berita a h2 {
        font-size: 28px;
    }
    .box1-berita p {
        font-size: 18px;
        text-align: justify;
    }
    .box1-berita form button {
        font-size: 12px;
    }
    .button {
        height: 34px;
        width: 106px;
        border-radius: 10px;
    }
    .box1-berita form button strong {
        font-size: 12px;
    }
    .box2-berita {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: -40px;
        margin-top: -140px;
    }
    .sub-box div {
        width: 154px;
        height: 110px;
    }
    .kal {
        font-size: 15px;
    }
    .jam {
        font-size: 10px;
    }
    .left {
        display: none;
    }
    .right {
        display: none;
    }
    .main h1 {
        font-size: 30px;
        text-align: center;
        margin-left: -20%;
        margin-bottom: 30px;
    }
    .jawa {
        font-size: 15px;
        margin-left: 0px;
    }
    .sumatra {
        font-size: 15px;
        margin-left: 50px;
    }
    .bali {
        font-size: 15px;
        margin-left: 70px;
    }
    .goal {
        margin-left: 5%;
    }
    .main div {
        margin-left: 7%;
    }
    .dest1 {
        margin-left: 5%;
    }
    .dest2 {
        margin-left: 5%;
        margin-top: 50px;
    }
    .dest3 {
        margin-left: 5%;
        margin-top: 50px;
    }
    .dest4 {
        margin-left: 5%;
        margin-top: 50px;
    }
    .button strong {
        font-size: 12px;
    }
    .prog {
        margin-top: -100px;
    }
    .main1 {
        margin-top: 50px;
    }
    footer {
        width: 100%;
        height: 1675px;
        align-items: center;
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
        margin-bottom: 0;
    }
    .box {
        margin-left: 20%;
    }
    .text_footer p {
        text-align: center;
    }
    .gambar6 {
        width: 95%;
    }
    .gambar7 {
        width: 95%;
    }
    .gambar8 {
        width: 95%;
    }
    .gambar9 {
        width: 95%;
    }
    .gambar10 {
        width: 95%;
    }
    .gambar11 {
        width: 95%;
    }
    .gambar12 {
        width: 95%;
    }
    .gambar13 {
        width: 95%;
    }
    .gambar14 {
        width: 95%;
    }
    .gambar15 {
        width: 95%;
    }
    .gambar16 {
        width: 95%;
    }
    .gambar17 {
        width: 95%;
    }
}

@media (min-width: 720px) and (max-width: 996px) {
    .navbar strong {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        position: absolute;
        right: 0;
        top: 50px;
        background-color: #162E44;
        justify-content: space-evenly;
        height: 60vh;
        width: 80%;
        align-items: center;
        z-index: 3;
        transform: translateX(100%);
        transition: all 0.5s;
        opacity: 0;
    }
    .navbar strong.slide {
        transform: translateX(0);
        opacity: 1;
    }
    .menu {
        margin-left: 0;
    }
    .title {
        display: inline-block;
    }
    .navs {
        display: inline-block;
        position: absolute;
    }
    .searchBar {
        margin-left: 0px;
        width: 225px;
        position: absolute;
        right: 10px;
        top: 410px;
    }
    .gambar1 {
        margin-left: -5%;
        width: 93%;
    }
    .left {
        display: none;
    }
    .right {
        display: none;
    }
    .goal {
        margin-left: 0px;
    }
    .dest1 {
        margin-left: 5%;
        margin-top: 20px;
    }
    .dest3 {
        margin-top: 40px;
    }
    footer {
        width: 100%;
        height: 50%;
        border-top-left-radius: 55px;
        border-top-right-radius: 55px;
    }
}