@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

*
{
    margin: 0;
    padding: 0;
}

a {
    color: rgba(0, 0, 0, 0);
}

@font-face {
    font-family: Pacifico, cursive;
    src: url(../Perancangan_Web/Font/Pacifico-Regular.ttf);
    src: url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
}

.font {
    font-family: Pacifico, cursive;
    src: url(../Perancangan_Web/Font/Pacifico-Regular.ttf);
    src: url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
}

nav
{
    padding: 20px 0;
    background-color:#162E44;
}

.navbar {
    margin-left: 20px;
    margin-right: 20px;
    
}

.title {
    font-size: 20px;
    font-family: Pacifico, cursive;
    src: url(../Perancangan_Web/Font/Pacifico-Regular.ttf);
    src: url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
    display: inline-block;
}

.menu {
    color: white;
    font-size: 0.5cm;
    display: inline-block;
    margin-left: 40px;
    font-family: 'Segoe UI';
}

.profile-logo {

    float: right;
}

.bottom {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 20cm;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-image: url("img/landingpage-bg.png");
    background-size: cover;
}

.capt {
    border: 0px solid;
    color: white;
    font-size: 90px;
    margin-left: 2cm;
    margin-bottom: 20px;
    margin-top: 50px;
    font-family:'times new roman';
}

.slogan {
    border: 0px solid;
    color: white;
    font-size: 1cm;
    margin-left: 2cm;
}


.berita
{
    margin-left: 59px;
}

.box1-berita {
    height: 20cm;
    width: 740px;
    display: inline-block;
    margin-left: 0.5cm;
}

.box2-berita {
    height: 20cm;
    width: 16cm;
    display: inline-block;
}

.gambar1 {
    height: 382px; width: 687px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-image: url("img/gambar1.jpg");
    background-size: cover;
}

.button {
    border: 2px solid#162E44;
    height: 54px;
    width: 196px;
    background-color: white;
    border-radius: 21px;
}

.sub-box {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 4cm;
    display: flex;
}

.gambar2 {
    width: 234px;
    height: 129px;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url("img/gambar2.jpg");
    background-size: cover;
}

.gambar3 {
    width: 234px;
    height: 129px;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url("img/gambar3.jpg");
    background-size: cover;
}

.gambar4 {
    width: 234px;
    height: 129px;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url("img/gambar4.jpg");
    background-size: cover;
}

.gambar5 {
    width: 234px;
    height: 129px;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url("img/gambar5.jpg");
    background-size: cover;
}

.jawa {
    display: inline-block;
    font-size: 21px; 
    color: #162E44;
    font-family: 'Segoe UI';
    height: 1cm;
    width: 1cm;
}

.sumatra {
    display: inline-block;
    font-size: 21px; 
    color: #162E44;
    font-family: 'Segoe UI';
    margin-left: 2cm;
    height: 1cm;
    width: 1cm;
}

.bali {
    display: inline-block;
    font-size: 21px;
    color: #162E44;
    font-family: 'Segoe UI';
    margin-left: 3cm;
    height: 1cm;
    width: 1cm;
}

.left {
    display: inline-block;
    height: 42px;
    width: 42px;
    margin-left: 22cm;
    background-image: url('img/scroll-left.png');
    background-size: cover;
}

.right {
    display: inline-block;
    height: 42px;
    width: 42px;
    margin-left: 0.5cm;
    background-image: url('img/scroll-right.png');
    background-size: cover;
}

.goal {
    border: 1px solid rgba(0, 0, 0, 0);
    margin-left: 59px;
}

.dest1 {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 8cm;
    width: 8.5cm;
    display: inline-block;
}

.dest2 {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 8cm;
    width: 8.5cm;
    display: inline-block;
    margin-left: 1cm;
}

.dest3 {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 8cm;
    width: 8.5cm;
    display: inline-block;
    margin-left: 1cm;
}

.dest4 {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 8cm;
    width: 8.5cm;
    display: inline-block;
    margin-left: 1cm;
}

.gambar6 {
    border: 1px solid black;
    width: 8.5cm;
    height: 5cm;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url();
    background-size: cover;
}

.gambar7 {
    border: 1px solid black;
    width: 8.5cm;
    height: 5cm;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url();
    background-size: cover;
}

.gambar8 {
    border: 1px solid black;
    width: 8.5cm;
    height: 5cm;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url();
    background-size: cover;
}

.gambar9 {
    border: 1px solid black;
    width: 8.5cm;
    height: 5cm;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url();
    background-size: cover;
}

.gambar10 {
    border: 1px solid black;
    width: 8.5cm;
    height: 5cm;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url();
    background-size: cover;
}

.gambar11 {
    border: 1px solid black;
    width: 8.5cm;
    height: 5cm;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url();
    background-size: cover;
}

.gambar12 {
    border: 1px solid black;
    width: 8.5cm;
    height: 5cm;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url();
    background-size: cover;
}

.gambar13 {
    border: 1px solid black;
    width: 8.5cm;
    height: 5cm;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url();
    background-size: cover;
}

.gambar14 {
    border: 1px solid black;
    width: 8.5cm;
    height: 5cm;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url();
    background-size: cover;
}

.gambar15 {
    border: 1px solid black;
    width: 8.5cm;
    height: 5cm;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url();
    background-size: cover;
}

.gambar16 {
    border: 1px solid black;
    width: 8.5cm;
    height: 5cm;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url();
    background-size: cover;
}

.gambar17 {
    border: 1px solid black;
    width: 8.5cm;
    height: 5cm;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    background-image: url();
    background-size: cover;
}

.button {
    border: 2px solid#162E44;
    height: 54px;
    width: 196px;
    background-color: white;
    border-radius: 21px;
}


footer {
    height: 450px;
    border-top-right-radius: 68px;
    border-top-left-radius: 68px;
    background-color: #162E44;
}

.box {
    display: inline-block;
    width: 8.5cm;
    height: 11cm;
    margin-left: 60px;
}

.text_footer {
    position: absolute;
    color: white;
    font-family: 'Segoe UI';
    font-size: 25px;
}